.DS_Store
node_modules
node_modules_legacy_vue2
/dist
dist-ssr
*.log

# 本地环境变量
.env
.env.local
.env.*.local

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 编辑器
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 工具缓存
.vite
*.tsbuildinfo
.eslintcache
